@import url("../css/media.css");

@font-face {
  font-family: "Roboto Condensed";
  src: url(../fonts/RobotoCondensed.ttf);
}
@font-face {
  font-family: "Snowstorm";
  src: url(../fonts/Snowstorm.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 575px;
  margin: 0 auto;
  background-color: #fafafa;
  font-family: "Roboto Condensed", sans-serif;
  color: #464646;
  padding-top: 20px;
  position: relative;
}

h1 {
  font: 24px "Snowstorm", sans-serif;
}

textarea {
  resize: none;
  outline: none;
  padding: 10px 17px;
  font: 14px Arial, sans-serif;
}

header {
  background: -webkit-linear-gradient(#f5c323 1%, #f5c323 50%, #ed9118 50%, #ed9118 100%);
  background: -o-linear-gradient(#f5c323 1%, #f5c323 50%, #ed9118 50%, #ed9118 100%);
  background: linear-gradient(#f5c323 1%, #f5c323 50%, #ed9118 50%, #ed9118 100%);
  height: 40px;
  border: 1px solid #ed9118;
  border-radius: 4px;
  box-shadow: inset 0 0 12px #fff;
  margin-bottom: 55px;
}

ul {
  list-style: none;
}

ul li {
  float: left;
  margin-left: 40px;
}

ul li a {
  line-height: 40px;
  color: #724101;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

a {
  text-decoration: underline;
  color: #bbb;
}

ul li a:hover {
  border-bottom: 2px dotted #724101;
}

h1 + b + p {
  color: #bbb;
  margin-bottom: 55px;
  margin-top: 7px;
}

.forms h5 {
  font-size: 15px;
  margin-bottom: 16px;
  text-align: center;
}

.allUser {
    color: #5dbd5a;
    padding: 8px 10px;
    border: 2px dotted #5dbd5a;
    display: inline-block;
    margin-bottom: 20px;
    width: 221px;
    font-size: 14px;
}
.red {
	color: #d04a4a;
	border: 2px dotted #d04a4a;
	margin-left: 45px;
}

.error {
  color: #f15c5c;
  display: block;
  margin-top: 16px;
}

.forms form:last-of-type {
  vertical-align: top;
  margin-left: 45px;
}

form {
  border: 1px solid #e3d9cc;
  background-color: #fff;
  padding: 20px;
  display: inline-block;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.1);
  }

#checker {
  max-width: 557px;
  margin-bottom: 16px;
}

.forms form, .form_wrap form {
  max-width: 221px;
}

label {
  display: block;
  margin-bottom: 6px;
}

input[type="text"],input[type="password"] {
  border: 1px solid #d4c6b2;
  border-radius: 3px;
  padding: 5px 10px;
  color: #ed9118;
  font: 16px "Roboto Condensed", sans-serif;
  outline: none;
}

input[type="text"]:first-of-type {
  margin-bottom: 16px;
}

input[type="text"]:focus,input[type="password"]:focus {
  border-color: #bba586;
}

input[type="submit"] {
  background: #fbc823;
  color: #724101;
  font: 16px "Roboto Condensed", sans-serif;
  width: 100%;
  padding: 7px 0;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .2s;
  border-radius: 3px;
}

input[type="submit"]:hover {
  background: #f3bf17;
}

input[type="submit"]:active {
  background: #d8ab1a;
}
small{
	color: #ff7a7a;
}
.forms .img_cap {
  display: block;
  margin: 6px;
}

.fakes {
  margin-top: 16px;
}

.fakes textarea {
    width: 100%;
    height: 500px;
    font-size: 15px;
    line-height: 1.4;
    padding: 10px 17px;
    margin-top: 16px;
}

.form_wrap {
  text-align: center;
}
.alert {
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
	margin-top: -50px;
}
.alert-danger {
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
}
.alert-success {
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
}
#game {
    margin-left: -365px;
    position: absolute;
    left: 50%;
}
.btn {display: block; cursor: pointer;}
.buttons {background-color: #4CAF50;border: none;color: white;padding: 5px 12px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;}

.spoiler input[type=checkbox] {display: none;}
.spoiler input[type=checkbox] + .text {display: none;}
.spoiler input[type=checkbox]:checked + .text {display: block;}

/*Checker*/
.check {
  border-collapse: collapse;
  margin-left: -221px;
  margin-bottom: 55px;
}

.check tr td {
  background-position: 15% center;
  padding: 7px 30px;
  padding-right: 10px;
  background-repeat: no-repeat;
  border: 1px solid #eee;
}

.check th {
  background: #eee;
  text-align: center;
  padding: 7px 0;
}

#vk_groups {
	  position: fixed;
    left: 20px;
    bottom: 20px;
}

#vk_comments {
	  position: absolute;
    left: 50%;
    margin-left: -287.5px;
    width: 100%!important;
}

#vk_comments iframe {
	width: 100%;
}

/* radio input*/
.radio {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}
.radio + label {
  cursor: pointer;
}
.radio:not(checked) {
  position: absolute;
  opacity: 0;
}
.radio:not(checked) + label {
  position: relative;
  padding: 0 0 0 30px;
}
.radio:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #CDD1DA;
  border-radius: 50%;
  background: #FFF;
}
.radio:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #12cc4b;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
  opacity: 0;
  transition: all .2s;
}
.radio:checked + label:after {
  opacity: 1;
}
.radio:focus + label:before {
  box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}

.networks {
  text-align: center;
  margin-bottom: 5px;
}

.networks label {
  display: inline-block;
  margin-left: 5px;
}

.networks label:first-of-type {
  margin: 0;
}
.flat {
  font-family: 'Montserrat';
  text-transform: uppercase;
  border: none;
  text-align: center;
  outline: none;
  cursor: pointer;
  color: #fafafa;
  margin-bottom: 5px;
}
.flat.xs {
  padding: 3px 9px;
  font-size: 13px;
}
.flat.sm {
  padding: 9px 12px;
  font-size: 13px;
}
.flat.md {
  padding: 12px 15px;
  font-size: 13px;
}
.flat.lg {
  padding: 15px 24px;
  font-size: 15px;
}
.flat:active {
  position: relative;
  top: 2px;
}
.flat.grey {
  background-color: #5a5a5a;
  -webkit-box-shadow: 0px 3px 0px #484848;
  -moz-box-shadow: 0px 3px 0px #484848;
  box-shadow: 0px 3px 0px #484848;
}
.flat.grey:active {
  -webkit-box-shadow: 0px 1px 0px #5a5a5a;
  -moz-box-shadow: 0px 1px 0px #5a5a5a;
  box-shadow: 0px 1px 0px #5a5a5a;
}
.flat.grey:hover {
  background-color: #555555;
}
.flat.green {
  background-color: #0aa699;
  -webkit-box-shadow: 0px 3px 0px #08847a;
  -moz-box-shadow: 0px 3px 0px #08847a;
  box-shadow: 0px 3px 0px #08847a;
}
.flat.green:active {
  -webkit-box-shadow: 0px 1px 0px #0aa699;
  -moz-box-shadow: 0px 1px 0px #0aa699;
  box-shadow: 0px 1px 0px #0aa699;
}
.flat.green:hover {
  background-color: #099d91;
}
.flat.purple {
  background-color: #6a598d;
  -webkit-box-shadow: 0px 3px 0px #544770;
  -moz-box-shadow: 0px 3px 0px #544770;
  box-shadow: 0px 3px 0px #544770;
}
.flat.purple:active {
  -webkit-box-shadow: 0px 1px 0px #6a598d;
  -moz-box-shadow: 0px 1px 0px #6a598d;
  box-shadow: 0px 1px 0px #6a598d;
}
.flat.purple:hover {
  background-color: #645485;
}
.flat.navy-blue {
  background-color: #22262e;
  -webkit-box-shadow: 0px 3px 0px #1b1e24;
  -moz-box-shadow: 0px 3px 0px #1b1e24;
  box-shadow: 0px 3px 0px #1b1e24;
}
.flat.navy-blue:active {
  -webkit-box-shadow: 0px 1px 0px #22262e;
  -moz-box-shadow: 0px 1px 0px #22262e;
  box-shadow: 0px 1px 0px #22262e;
}
.flat.navy-blue:hover {
  background-color: #20242b;
}
.flat.pink {
  background-color: #f35958;
  -webkit-box-shadow: 0px 3px 0px #c24746;
  -moz-box-shadow: 0px 3px 0px #c24746;
  box-shadow: 0px 3px 0px #c24746;
}
.flat.pink:active {
  -webkit-box-shadow: 0px 1px 0px #f35958;
  -moz-box-shadow: 0px 1px 0px #f35958;
  box-shadow: 0px 1px 0px #f35958;
}
.flat.pink:hover {
  background-color: #e65453;
}
.flat.blue {
  background-color: #0090d9;
  -webkit-box-shadow: 0px 3px 0px #0073ad;
  -moz-box-shadow: 0px 3px 0px #0073ad;
  box-shadow: 0px 3px 0px #0073ad;
}
.flat.blue:active {
  -webkit-box-shadow: 0px 1px 0px #0090d9;
  -moz-box-shadow: 0px 1px 0px #0090d9;
  box-shadow: 0px 1px 0px #0090d9;
}
.flat.blue:hover {
  background-color: #0088ce;
}
.flat.yellow {
  background-color: #fdd01c;
  -webkit-box-shadow: 0px 3px 0px #caa616;
  -moz-box-shadow: 0px 3px 0px #caa616;
  box-shadow: 0px 3px 0px #caa616;
}
.flat.yellow:active {
  -webkit-box-shadow: 0px 1px 0px #fdd01c;
  -moz-box-shadow: 0px 1px 0px #fdd01c;
  box-shadow: 0px 1px 0px #fdd01c;
}
.flat.yellow:hover {
  background-color: #f0c51a;
}

.teg {
display: inline-block; /* Строчно-блочный элемент */
position: relative; /* Относительное позиционирование */
}
.teg:hover::after {
content: attr(data-title); 
position: absolute;
left: 0%; top: 80%; 
z-index: 1;
background: linear-gradient(#f5c323 1%, #f5c323 50%, #ed9118 50%, #ed9118 100%); 
font-family: Arial, sans-serif;
font-size: 14px;
padding: 15px 10px;
border: 1px solid #ed9118;
font-family: "Roboto Condensed", sans-serif;
color: #724101;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
text-decoration: none;
box-shadow: inset 0 0 12px #fff;
border-radius: 15%;
}

.teg2 {
display: inline-block; /* Строчно-блочный элемент */
position: relative; /* Относительное позиционирование */
}
.teg2:hover::after {
content: attr(data-title); 
position: absolute;
left: -100%; 
top: 80%;
width: 220px;
z-index: 1;
font-size: 12px;
white-space: pre;
padding: 10px 10px;
margin-top: 10px;
background-color: #0aa699;
color: #fff;
}