        .error{border: aqua;background: antiquewhite;width: 500;}
        .html { overflow:  hidden; }
        body{background: #fff;}
        .button{display:inline-block;*display:inline;zoom:1;padding:6px 20px;margin:0;cursor:pointer;border:1px solid #bbb;overflow:visible;font:bold 13px arial,helvetica,sans-serif;text-decoration:none;white-space:nowrap;color:#555;background-color:#ddd;background-image:linear-gradient(top,rgba(255,255,255,1),rgba(255,255,255,0)),url(data:image/png;base64,iVBORw0KGg[...]QmCC);transition:background-color .2s ease-out;background-clip:padding-box;border-radius:3px;box-shadow:0 1px 0 rgba(0,0,0,.3),0 2px 2px -1px rgba(0,0,0,.5),0 1px 0 rgba(255,255,255,.3) inset;text-shadow:0 1px 0 rgba(255,255,255,.9)}.button:hover{background-color:#eee;color:#555}.button:active{background:#e9e9e9;position:relative;top:1px;text-shadow:none;box-shadow:0 1px 1px rgba(0,0,0,.3) inset}.button.color{color:#fff;text-shadow:0 1px 0 rgba(0,0,0,.2);background-image:linear-gradient(top,rgba(255,255,255,.3),rgba(255,255,255,0)),url(data:image/png;base64,iVBORw0KGg[...]QmCC)}.button.blue{background-color:#269CE9;border-color:#269CE9}.button.blue:hover{background-color:#70B9E8}.button.blue:active{background:#269CE9}.button.red{background-color:#c43c35;border-color:#c43c35}.button.red:hover{background-color:#ee5f5b}.button.red:active{background:#c43c35}.button.green{background-color:#57a957;border-color:#57a957}.button.green:hover{background-color:#62c462}.button.green:active{background:#57a957}.button.boss{width:80px;display:block;margin:4px;padding:6px 5px}.button.weapon{width:70px;display:block;margin:4px auto}.button.city{width:135px;display:block;margin:4px auto;padding:6px 5px}
        input[type=submit]{background: #7ba60d;color: #fff;display: inline-block;padding: 5px 15px;border: 1px solid #7ba60d;-webkit-box-shadow: inset 0px 1px 0 rgba(255,255,255,0.2), 0px 1px 4px rgba(0,0,0,0.4);-moz-box-shadow: inset 0px 1px 0 rgba(255,255,255,0.2), 0px 1px 4px rgba(0,0,0,0.4);box-shadow: inset 0px 1px 0 rgba(255,255,255,0.2), 0px 1px 4px rgba(0,0,0,0.4);text-shadow: 0px 1px 2px rgba(0,0,0,0.3);}
input[type=submit]:hover {
    background: #679000;
}
input[type=text] {
    width: 15%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
    background-color: #3CBC8D;
    color: white;
}
input[type=text]:focus {
    border: 3px solid #001FFF;
    width: 17%;
}
.box_job {
	width: 300px;
    box-shadow: rgb(85, 85, 85) 0px 2px 10px;
    border-radius: 4px;
    background-color: #C7E8EC;
    margin: 4px;
	height: 80px;
	padding: 5px;
}
.message_box {
    word-wrap: break-word;
    border-radius: 10px;
    width: 300px;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    padding: 6px;
    font-size: 20px;
}
.danger_zone{
	background-color: red;
    color: #fff;
}
.nav {
    background: #C0F7FF;
    border: 1px solid #3C6BFF;
}
.delyg {
	width: 500px; 
	border: 4px solid black;
	opacity: 0.6;
}
.delyg:hover, .delyg:focus{
	opacity: 1;
}
.wauth_auth {
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.flat_button {
    padding: 7px 16px 8px;
    margin: 0;
    font-size: 12.5px;
    display: inline-block;
    zoom: 1;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
    vertical-align: top;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    background: none;
    background-color: #5e81a8;
    color: #fff;
    border: 0;
    border-radius: 2px;
    box-sizing: border-box;
}
.am_tt {
    position: relative;
    cursor: default;
    display: inline-block;
    text-decoration: none;
    outline: none;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}
.am_percA {
    height: 18px;
    background-color: lightgrey;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(153, 153, 153);
    border-image: initial;
    border-radius: 6px;
    padding: 1px;
}
.am_percA .am_perc_text {
    position: absolute;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 0px;
}
.am_percA .am_percB {
    background-color: lightslategrey;
    height: 18px;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.fl_l {
    float: left;
}